<div class="form-container">
  <header>
    <h1>See Pay</h1>
    <img src="../../../assets/icondinheiro.png" alt="money" />
  </header>
  <section id="user">
    <h2>Cadastre-se agora</h2>
    <form [formGroup]="form" >
      <input
        type="nome"
        placeholder="Digite seu nome"
        formControlName="nome"

      />

      <input
        type="email"
        placeholder="Email"
        formControlName="email"

      />
         <input
        type="password"
        placeholder="Senha"
        formControlName="senha"

      />


      <button>Cadastrar</button>
      <p>
        Já é cadastrado?
        <a routerLink="/login"><strong>Faça login</strong></a>
      </p>
    </form>
  </section>
</div>
